*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}
/* estilo para el encabezado*/
header{
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
}

.navbar{
     background: linear-gradient(to left, rgb(12, 29, 74) 20%, rgb(120, 30, 32) 75%);
}
.logo {
    height: 70px;
}
.color-nav-link{
    color: rgb(250, 224, 184);
}
.color-dropdown-menu{
    background-color: rgb(250, 224, 184);
}

.color-nav-link:link{
    background-color: transparent;
    text-decoration: none;
    color: rgb(250, 224, 184);
}
.color-nav-link:visited {
    background-color: transparent;
    text-decoration: none;
    color: rgb(250, 224, 184);
}
  
.color-nav-link:hover {
    background-color: transparent;
    text-decoration: underline;
    color: rgb(250, 224, 184);
}
.color-nav-link:active {
    background-color: transparent;
    text-decoration: none;
    color: rgb(250, 224, 184);
}
/* estilo para el cuerpo de la pagina index*/
body {
    background-color: rgb(110, 180, 209);
    min-height: 100%;
    min-height: 100vh;
    padding-top: 110px;
    padding-bottom: 90px;
    position: relative;
    z-index: -1;
    
    /* -webkit-box-shadow: #000 0 7px 35px 0;
    -moz-box-shadow: #000 0 7px 35px 0;
    box-shadow: #000 0 7px 35px 0; */
}
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
main p {
    font-family:sans-serif;
    font-size: medium;
    text-align: center;
    background-color: rgb(250, 224, 184);
    color: rgb(17, 29, 74);
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 10px;
    border-color: rgb(12, 29, 74);
    border: solid 2px;
}

.imagenPrincipal {
    width: auto;
    height: 68vh;
    animation-name: slide;
    animation-duration: 3s;
}
/*estilo para el pie de pagina*/
footer {
    background-color: rgb(12, 29, 74);
    position: fixed;
    z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
footer h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    color: rgb(250, 224, 184);
    animation-name: aparecer;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}
footer ul{
    display: flex;
    justify-content:center;
    width: 100%;
    align-items: center;
    padding: 0%;
}
.redesSociales {
    display: flex;
    align-items: center;
    color: rgb(250, 224, 184);
}
.logoRedesSociales {
    height: 15px;
    width: 15px;
    margin: 5px;
}
h3 {
    font-size: 15px;
    padding-top: 5px;
}
/*estilo para la pagina menu*/
.menu {
    display: grid;
    grid-template-areas:
    " tradicional especial"
    "desayuno desayuno"
    "torta torta"
    "pasteleria pasteleria";
    gap: 15px;
    justify-content:space-evenly;
    align-items: center;
    margin: 15px;
}
table td:nth-child(1) {
    width: 70vh;
    text-align:left;
    padding-left: 25px;
    padding-right: 20px;
}
table th:nth-child(1) {
    width: 70vh;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
table td:nth-child(2) {
    width: 20vh;
}

.tradicional{
    grid-area: tradicional;
    height: 100%;
}
.especial {
    grid-area: especial;
    height: 100%;
}
.torta{
    grid-area: torta;
}
.pasteleria{
    grid-area: pasteleria;
}
.desayuno {
    grid-area: desayuno;
}
table{
    width: 100%;
    border: 2px solid;
    border-color: rgb(12, 29, 74);
    background-color: rgb(250, 224, 184);
}
.precio{
    text-align: center;
}
th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(12, 29, 74);
    text-align: left;
    border-bottom: 2px solid;
    border-inline: 2px solid;
    border-color: rgb(120, 30, 32);
}
td {
    border-bottom: 1px solid;
    border-color: rgb(120, 30, 32);
    font-family: sans-serif;
    font-size: 20px;
}
.list-items li{
    list-style-type:"+ ";
}
tbody tr:hover{
    background-color: rgb(127, 103, 91, 40%);
}
/*estilo pagina locales*/
.locales {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
}
.columnas-locales {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-bottom: 10px;
}
address {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    color: rgb(17, 29, 74)
}
.tamaño-mapa {
    height: 400px;
}
/*estilo pagina galeria*/
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

/*estilo pagina contacto*/
form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 5px;
}
input {
    width: 250px;
}
textarea {
    width: 250px;
}
@media screen and (max-width: 480px) {
    /* responsive footer*/
    footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* responsive galeria*/
    .columnas {
        flex-direction: column;
    }
    /* responsive locales*/
    .locales {
        flex-direction: column;
        gap: 5px;
    }
    .columnas-locales {
        width: 90%;
    }
    .tamaño-mapa {
        height: 200px;
    }

    /* responsive menu*/
    .menu {
        display: flex;
        flex-direction: column;
    }
    /* responsive index*/
    .imagenPrincipal {
        width: 100%;
        height: auto;
    }
    body {
        padding-bottom: 130px;
    }
}
@keyframes slide{
    0%{
        transform: translate(-100%,0);
    }
    25%{
        transform: translate(60%,0);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes aparecer{
    0%{
        color: rgb(250, 224, 184, 0);
    }
    75%{
        color: rgb(250, 224, 184, 50)
    }
    100%{
        color: rgb(250, 224, 184, 100);
    }
}
