@import './misc/normalize';
@import './misc/variables';
@import './misc/animations';

@import './partials/header';
@import './partials/footer';

@import './pages/inicio';
@import './pages/galeria';
@import './pages/locales';
@import './pages/menu';
@import './pages/contacto';