// estilo para el footer//
footer {
    background-color: $dark-blue;
    position: fixed;
    z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    & h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding-top: 10px;
        text-align: center;
        color: $light-logo;
        animation-name: aparecer;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
    }
    & ul{
        @include flex(row, center, center);
        width: 100%;
        padding: 0%;
    }
}
.redesSociales {
    @include flex(row, center, center);
    color: $light-logo;
}
.logoRedesSociales {
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: $light-logo;
    border: 1px solid $light-logo;
}
h3 {
    font-size: 15px;
    padding-top: 5px;
}
@media screen and (max-width: 480px) {
    footer ul{
        @include flex(column, center, center);
    }
}