// estilo para el header //
header {
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
}
.navbar{
    background: linear-gradient(to left, ($dark-blue)0%, ($dark-logo) 75%);
}
.logo {
    height: 70px;
}
.color-nav-link{
    color: $light-logo;
    &:link{
        background-color: transparent;
        text-decoration: none;
        color: $light-logo;
    }
    &:visited {
        @extend .color-nav-link:link;
    }
    &:hover {
        @extend .color-nav-link:link;
        text-decoration: underline;
    }
    &:active {
        @extend .color-nav-link:link;
    }
}
.color-dropdown-menu{
    background-color: $light-logo;
}